

<h1>{{titulo}}</h1>
<form>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" name="nome1" [(ngModel)]="motor.nome">
  </div>
  <div class="form-group">
    <label for="Desc">Descrecaon:</label>
    <input type="text" class="form-control" name="Desc1" [(ngModel)]="motor.descricao">
  </div>
  <div class="form-group">
    <label for="uso">Uso:</label>
    <input type="text" class="form-control" name="uso1" [(ngModel)]="motor.uso">
  </div>
  <button type="submit" class="btn btn-default" (click)="salvar()" >Salvar</button>
  <button type="submit" class="btn btn-default" (click)="limpiar()">Canselar</button>
 
</form>
<ul>
  <li *ngFor="let res of result">{{res.nome}}

 </li>
</ul>